@media only screen and (min-width: 717px) {
  header, footer {
    border-radius: 10px;
  }
  
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  header img {
    max-width: 400px;
    max-height: 400px;
    margin: 30px;
    float: right;
  }

  main ul li {
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }
}
