header, footer {
  background-color: #3a65af;
  color: white;
  text-align: center;
  border: solid 5px black;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

h2 {
  font-size: 20px;
  text-align: center;
}

main {
  padding: 5px;
}

main ul li {
  display: block;
  list-style-type: none;
  font-size: 20px;
  padding: 5px;
}

main ul li a {
  text-decoration: none;
  color: #3a65af;
}

main ul li:hover {
  transform: translateY(-10%);
  color: #3a65af;
}

header img {
  max-width: 300px;
  max-height: 300px;
  border: solid 5px black;
  border-radius: 100%;
  margin: 20px 0px 0px 0px;
}

footer {
  font-size: 20px;
  text-align: center;
}

footer a {
  color: white;
}

.last {
  color: yellow;
}

.utah {
  text-decoration: none;
  cursor: initial;
}

