@media only screen and (min-width: 1200px) {
  /* ALL PAGES */

  main {
    max-width: 1300px;
    margin: 0 auto;
  }

  nav ul li a {
    font-size: 25px;
  }

  header img {
    width: 30%;
  }

  #message {
    margin: 20px auto;
  }

  #message p {
    font-size: 30px;
  }

  /* HOME PAGE */

  .islandImgs img {
    max-width: 500px;
    margin-top: 20px;
  }

  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .vehicle {
    margin: 0px auto 30px;
    padding: 10px;
  }

  .vehicle p {
    font-size: 20px;
  }

  .vehicle button {
    width: 75%;
    font-size: 20px;
  }

  .weatherInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
  }

  .currentWeather {
    margin: 20px 0px;
    box-shadow: 7px 7px 3px #999999;
  }

  .currentWeather h2 {
    font-size: 25px;
  }

  #icon img {
    width: 20%;
  }

  .forecast {
    margin: 20px 0px;
    box-shadow: 7px 7px 3px #999999;
  }

  .forecast h2 {
    font-size: 25px;
  }

  /* RENTALS PAGE */

  .options {
    display: block;
    width: 100%;
  }

  .options img {
    max-width: 450px;
  }

  .options p {
    max-width: 500px;
    margin: 10px auto 50px;
  }

  table {
    width: 25%;
  }

  .options button {
    font-size: 25px;
    margin: 0 auto 10px;
    padding: 5px;
  }

  /* RESERVATIONS PAGE */

  /* TOURS PAGE */

  /* CONTACT PAGE */
}

/* END OF LARGE MEDIA QUERY */
