@media only screen and (min-width: 700px) {

  /* ALL PAGES */

  header {
    /* display: flex; */
  }

  .buttons {
  display: flex;
  position: initial;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

  /* header img {
    width: 40%;
  } */

  .ham {
    display: none;
  }

  #xID {
    display: none;
  }

  #primaryNav {
    display: flex;
    flex-direction: row;
  }

  nav {
    margin: auto;
  }

  /* nav ul {
    border-top: none;
  } */

  nav ul li a:hover {
    background-color: #125E96;
    color: whitesmoke;
  }
  
  /* HOME PAGE */

  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .vehicle {
    margin: 10px;
    padding: 5px;
  }

  .vehicle:hover {
    box-shadow: 5px, 5px #333;
  }
  
  .vehicle img {
    width: 70%;
    border: solid 2px black;
    margin-top: 20px;
  }
  
  .vehicle p {
    font-size: 15px;
    margin: 10px;
  }

  .vehicle button {
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s;
    font-size: 17px;
  }

  .vehicle button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .vehicle button span:after {
    content: '\00bb' ;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .vehicle button:hover span {
    padding-right: 25px;
  }
  
  .vehicle button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* RENTALS PAGE */



  /* RESERVATIONS PAGE */



  /* TOURS PAGE */



  /* CONTACT PAGE */



}
/* END OF MEDIUM MEDIA QUERY */
