@media only screen and (min-width: 1028px) {
  .main_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } 

  .description {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
  }
}