@media only screen and (min-width: 1200px) {

  header, main, footer {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  nav ul li {
    font-size: 20px;
    margin: 0px;
  }

  .summary {
    top: 80px;
    left: 70px;
    padding: 15px;
    font-size: 30px;
  }

/* GALLERY */

.gallery {
  grid-template-columns: repeat(3, 1fr);
}

/* HOME */

.towns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.towns section {
  display: block;
}

}

/* END OF LARGE MEDIA QUERY */