html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header {
  text-align: center;
  border: solid 5px #4D648D;
  margin: 0px 10px;
  color: #4D648D;
}

.logo {
  width: 100%;
}

h1 {
  margin: 0px;
  padding: 10px;
}

.active {
  background-color: #4D648D;
  color: white;
}

nav ul {
  background-color: #F4EADE;
  border: solid 5px #4D648D;
  border-top: none;
  margin: 0px 10px;
  padding: 0
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #4D648D;
  padding: 5px 0px;
  text-align: center;
}

nav a:hover {
  background-color: #4D648D;
  color: white;
}

main {
  text-align: center;
  color: #4D648D;
  margin: 10px;
  padding: 10px;
}

footer {
  text-align: center ;
  border: solid 5px #4D648D;
  background-color: #F4EADE;
  color: #4D648D;
  margin: 10px;
  padding: 0px
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}