header {
  text-align: center;
  border: solid 5px black;
  margin: 10px;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  border: solid 5px black;
}

nav ul li{
  list-style-type: none;
  margin: 5px 30px 5px 30px;
}

main {
  text-align: center;
  border: solid 5px black;
  margin: 10px;
  padding: 10px;
}

footer {
  text-align: center ;
  border: solid 5px black;
  margin: 10px;
  padding: 10px;
}